<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.things.device.mapper.DeviceMapper">

    <update id="online" parameterType="java.lang.String">

        update device set connection_status = '0' where device_id = #{deviceId}

    </update>

    <update id="offline" parameterType="java.lang.String">

        update device set connection_status = '1' where device_id = #{deviceId}

    </update>

    <select id="onlineCount" resultType="OnlineCount">

        select
            COUNT(1) AS total,
            SUM(case when connection_status = 0 THEN 1 ELSE 0 END) as onlineNumber,
            SUM(case when connection_status = 1 THEN 1 ELSE 0 END) as offlineNumber
        from device
    </select>

</mapper>